################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ResumeAnalyzer.slnx/FileContentIndex/195b9cab-cf17-4f7f-8f9a-69d00af513e8.vsidx
/.vs/ResumeAnalyzer.slnx/v18/.suo
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.AssemblyInfo.cs
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.AssemblyInfoInputs.cache
/.vs/ResumeAnalyzer.slnx
/src/ResumeAnalyzer.AnalysisService/bin/Debug/net10.0
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ref/ResumeAnalyzer.AnalysisService.dll
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/refint/ResumeAnalyzer.AnalysisService.dll
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.csproj.AssemblyReference.cache
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.csproj.FileListAbsolute.txt
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.dll
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.pdb
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.sourcelink.json
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/appsettings.Development.json
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/appsettings.json
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/Azure.Core.dll
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/Azure.Data.Tables.dll
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Blazor.deps.json
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Blazor.dll
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Blazor.exe
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Blazor.pdb
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Blazor.runtimeconfig.json
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Blazor.staticwebassets.endpoints.json
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Blazor.staticwebassets.runtime.json
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Shared.dll
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/ResumeAnalyzer.Shared.pdb
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/System.ClientModel.dll
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/System.Memory.Data.dll
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ref/ResumeAnalyzer.Blazor.dll
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/refint/ResumeAnalyzer.Blazor.dll
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/apphost.exe
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/rbcswa.dswa.cache.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.AssemblyInfo.cs
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.AssemblyInfoInputs.cache
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.csproj.AssemblyReference.cache
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.csproj.FileListAbsolute.txt
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.dll
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.pdb
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.sourcelink.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/rpswa.dswa.cache.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/staticwebassets.build.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/staticwebassets.build.json.cache
/src/ResumeAnalyzer.Shared/bin/Debug/net10.0/ResumeAnalyzer.Shared.deps.json
/src/ResumeAnalyzer.Shared/bin/Debug/net10.0/ResumeAnalyzer.Shared.dll
/src/ResumeAnalyzer.Shared/bin/Debug/net10.0/ResumeAnalyzer.Shared.pdb
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ref/ResumeAnalyzer.Shared.dll
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/refint/ResumeAnalyzer.Shared.dll
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ResumeAnalyzer.Shared.AssemblyInfo.cs
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ResumeAnalyzer.Shared.AssemblyInfoInputs.cache
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ResumeAnalyzer.Shared.csproj.FileListAbsolute.txt
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ResumeAnalyzer.Shared.dll
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ResumeAnalyzer.Shared.pdb
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ResumeAnalyzer.Shared.sourcelink.json
/.vs/ProjectEvaluation/resumeanalyzer.metadata.v10.bin
/.vs/ProjectEvaluation/resumeanalyzer.projects.v10.bin
/.vs/ProjectEvaluation/resumeanalyzer.strings.v10.bin
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/.azurefunctions/function.deps.json
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.pdb
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/.azurefunctions/Microsoft.Azure.WebJobs.Extensions.FunctionMetadataLoader.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/.azurefunctions/Microsoft.Azure.WebJobs.Host.Storage.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/.azurefunctions/Microsoft.WindowsAzure.Storage.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/runtimes/win/lib/net6.0
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Azure.Core.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Azure.Data.Tables.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Azure.Identity.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Azure.Storage.Blobs.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Azure.Storage.Common.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/extensions.json
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/functions.metadata
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Google.Protobuf.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Grpc.Core.Api.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Grpc.Net.Client.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Grpc.Net.ClientFactory.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Grpc.Net.Common.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/host.json
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/local.settings.json
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.AI.DependencyCollector.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.AI.EventCounterCollector.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.AI.PerfCounterCollector.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.AI.ServerTelemetryChannel.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.AI.WindowsServer.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.ApplicationInsights.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.ApplicationInsights.WorkerService.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Azure.Functions.Worker.ApplicationInsights.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Azure.Functions.Worker.Core.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Azure.Functions.Worker.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Azure.Functions.Worker.Extensions.Abstractions.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Azure.Functions.Worker.Extensions.Http.AspNetCore.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Azure.Functions.Worker.Extensions.Http.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Azure.Functions.Worker.Grpc.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Extensions.Logging.ApplicationInsights.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Identity.Client.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Identity.Client.Extensions.Msal.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.IdentityModel.Abstractions.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Microsoft.Win32.SystemEvents.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/Newtonsoft.Json.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/ResumeAnalyzer.Api.deps.json
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/ResumeAnalyzer.Api.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/ResumeAnalyzer.Api.exe
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/ResumeAnalyzer.Api.pdb
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/ResumeAnalyzer.Api.runtimeconfig.json
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/ResumeAnalyzer.Shared.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/ResumeAnalyzer.Shared.pdb
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.ClientModel.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.Configuration.ConfigurationManager.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.Diagnostics.PerformanceCounter.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.Drawing.Common.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.IO.Hashing.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.Memory.Data.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.Security.Cryptography.ProtectedData.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.Security.Permissions.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/System.Windows.Extensions.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/UglyToad.PdfPig.Core.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/UglyToad.PdfPig.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/UglyToad.PdfPig.DocumentLayoutAnalysis.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/UglyToad.PdfPig.Fonts.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/UglyToad.PdfPig.Package.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/UglyToad.PdfPig.Tokenization.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/UglyToad.PdfPig.Tokens.dll
/src/ResumeAnalyzer.Api/bin/Debug/net10.0/worker.config.json
/src/ResumeAnalyzer.Api/obj/Debug/net10.0
/src/ResumeAnalyzer.Api/obj
/src/ResumeAnalyzer.Api/Properties
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/compressed/koqk4gqqqc-{0}-a6qd0hak1b-a6qd0hak1b.gz
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/compressed/koqk4gqqqc-{0}-ndfzsm8lxe-ndfzsm8lxe.gz
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/compressed/yahz73y150-{0}-a6qd0hak1b-a6qd0hak1b.gz
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/compressed/yahz73y150-{0}-ndfzsm8lxe-ndfzsm8lxe.gz
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/scopedcss/bundle/ResumeAnalyzer.Blazor.styles.css
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/scopedcss/Components/Pages/Home.razor.rz.scp.css
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/scopedcss/projectbundle/ResumeAnalyzer.Blazor.bundle.scp.css
/.vs/ResumeAnalyzer/CopilotIndices
/src/ResumeAnalyzer.Api/bin/Debug/net10.0
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/rjimswa.dswa.cache.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/staticwebassets.development.json
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ResumeAnalyzer.Shared.csproj.CoreCompileInputs.cache
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.assets.cache
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.csproj.CoreCompileInputs.cache
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.GeneratedMSBuildEditorConfig.editorconfig
/src/ResumeAnalyzer.Blazor/obj/project.assets.json
/src/ResumeAnalyzer.Blazor/obj/project.nuget.cache
/src/ResumeAnalyzer.Blazor/obj/ResumeAnalyzer.Blazor.csproj.nuget.dgspec.json
/src/ResumeAnalyzer.Blazor/obj/ResumeAnalyzer.Blazor.csproj.nuget.g.props
/src/ResumeAnalyzer.Blazor/obj/ResumeAnalyzer.Blazor.csproj.nuget.g.targets
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/compressed/0wz98yz2xy-{0}-a4sy8psjxz-a4sy8psjxz.gz
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/compressed/o7k4cxtn0u-{0}-nla2550lvf-nla2550lvf.gz
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/compressed/tzxjg6is5z-{0}-8fy1no3hvo-8fy1no3hvo.gz
/src/ResumeAnalyzer.Blazor/bin/Debug/net10.0/MudBlazor.dll
/src/ResumeAnalyzer.Shared/obj/Debug/net10.0/ResumeAnalyzer.Shared.csproj.CoreCompileInputs.cache
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.assets.cache
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.csproj.CoreCompileInputs.cache
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/ResumeAnalyzer.Blazor.GeneratedMSBuildEditorConfig.editorconfig
/src/ResumeAnalyzer.Blazor/obj/project.assets.json
/src/ResumeAnalyzer.Blazor/obj/project.nuget.cache
/src/ResumeAnalyzer.Blazor/obj/ResumeAnalyzer.Blazor.csproj.nuget.dgspec.json
/src/ResumeAnalyzer.Blazor/obj/ResumeAnalyzer.Blazor.csproj.nuget.g.props
/src/ResumeAnalyzer.Blazor/obj/ResumeAnalyzer.Blazor.csproj.nuget.g.targets
*.gz
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/compressed/xkju9een7s-{0}-aqz4e9trud-aqz4e9trud.gz
/src/ResumeAnalyzer.Blazor/obj/Debug/net10.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
