################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ResumeAnalyzer.slnx/FileContentIndex/195b9cab-cf17-4f7f-8f9a-69d00af513e8.vsidx
/.vs/ResumeAnalyzer.slnx/v18/.suo
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.AssemblyInfo.cs
/src/ResumeAnalyzer.AnalysisService/obj/Debug/net10.0/ResumeAnalyzer.AnalysisService.AssemblyInfoInputs.cache
